<header>
  <nav
    id="mainNavbar"
    class="navbar navbar-expand-lg navbar-dark fixed-top py-0"
  >
    <div class="flex-grow-1">
      <a aria-label="Home" class="logo" routerLink="/">
        <img
          src="https://www.vhv.rs/dpng/d/422-4226817_airbnb-logo-png-airbnb-logo-9-png-22.png"
          alt="Logo"
          class="reddit-icon-svg"
        />
        <span class="reddit-text"> VoGiaCu </span>
      </a>
    </div>

    <button
      class="navbar-toggler"
      data-target="#my-nav"
      data-toggle="collapse"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon" style="background-color: orangered;"></span>
    </button>

    <div id="my-nav" class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <div *ngIf="!isLoggedIn">
            <a routerLink="/signup" class="float-right sign-up mr-2">Sign up</a>
            <a routerLink="/login" class="float-right login mr-2">Login</a>
          </div>
        </li>

        <li class="nav-item active">
          <div *ngIf="isLoggedIn">
            <a
              [routerLink]="['/houses-owned-user/', username]"
              class="float-right sign-up mr-2"
              >My Houses</a
            >
          </div>
        </li>

        <li class="nav-item active">
          <div *ngIf="isLoggedIn">
            <a
              [routerLink]="['/reservations/by-user/', username]"
              class="float-right sign-up mr-2"
              >My Reservation</a
            >
          </div>
        </li>

        <li class="nav-item active">
          <a routerLink="/create-house" class="float-right sign-up mr-2"
            >Create House</a
          >
        </li>
        <li class="nav-item active">
          <a
            style="color: white"
            (click)="goToHouses()"
            class="float-right sign-up mr-2"
            >Houses</a
          >
        </li>
        <!-- <li class="nav-item active"> -->

        <!-- </li> -->
      </ul>
      <div *ngIf="isLoggedIn" ngbDropdown class="float-right">
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button (click)="goToUserUpdate()" ngbDropdownItem>Profile</button>
          <button (click)="goToChangePass()" ngbDropdownItem>
            Change password
          </button>
          <button (click)="logout()" ngbDropdownItem>Logout</button>
        </div>

        <div>
          <button class="userdetails" id="dropdownBasic1" ngbDropdownToggle>
            <span *ngIf="!imageRef">
              <img
                class="account-icon"
                src="https://www.redditstatic.com/avatars/avatar_default_08_D4E815.png"
              />
            </span>
            <span *ngIf="imageRef">
              <img
                class="account-icon"
                [src]="imageRef | async"
                loading="lazy"
              />
            </span>

            {{ username }}
          </button>
        </div>
      </div>
      <div class="flex-grow-1 float-right">
        <!-- <div *ngIf="isLoggedIn" ngbDropdown class="float-right">
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button (click)="goToUserUpdate()" ngbDropdownItem>Profile</button>
          <button (click)="goToChangePass()" ngbDropdownItem>Change password</button>
          <button (click)="logout()" ngbDropdownItem>Logout</button>
        </div>

        <div >

        <button class="userdetails" id="dropdownBasic1" ngbDropdownToggle>
          <span *ngIf="!imageRef">
            <img class="account-icon"
                        src="https://www.redditstatic.com/avatars/avatar_default_08_D4E815.png"
                      />
          </span>
          <span *ngIf="imageRef" >
            <img class="account-icon" [src]="imageRef | async" loading="lazy">

          </span>

          {{ username }}
        </button>
        </div>

      </div> -->
        <!-- <div *ngIf="!isLoggedIn">
        <a routerLink="/signup" class="float-right sign-up mr-2">Sign up</a>
        <a routerLink="/login" class="float-right login mr-2">Login</a>
      </div> -->
        <!-- <div *ngIf="isLoggedIn">
        <a [routerLink] = "['/houses-owned-user/', username]" class="float-right sign-up mr-2">My Houses</a>
        <a [routerLink] = "['/reservations/by-user/', username]" class="float-right sign-up mr-2">My Reservation</a>
      </div> -->
        <!-- <a routerLink='/create-house' class="float-right sign-up mr-2">Create House</a>
      <a style="color: white;" (click)="goToHouses()" class="float-right sign-up mr-2">Houses</a> -->
      </div>
    </div>
  </nav>
</header>
