body, html {
  height: 100%;
  margin: 0;
}

body {
  /* background-image: url('w3css.gif'); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
}

.bg {
  /* The image used */
  background-image: url("/assets/bg_1.jpg");
  /* Full height */
  height: 50%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-image {
  background-image: url("/assets/bg_1.jpg");
  margin-top: 100px;
  background-color: #cccccc;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  /* text-align: center; */
  width: 100%;
  text-align: center;
  position: absolute;
  top: 650px;
  left: 45%;
  transform: translate(-50%, -50%);
  color: white;
}


