<div class="row post" >
  <div class="col-md-11">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <!-- <mat-card-title>{{house.houseName}}</mat-card-title> -->
        <script>console.log(house) </script>
        <h1 (click)="goToHouse(house.houseId)">{{house.houseName}}</h1>
        <mat-card-subtitle>{{house.houseCategory}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="retrieveImage" alt="Photo of a Shiba Inu">
      <mat-card-content [innerHTML]="house.description">
        <h3><span class="badge badge-pill badge-info">Giá : {{house.price}} $</span>
        </h3>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="accent">LIKE</button>
        <button mat-raised-button color="primary">SHARE</button>
      </mat-card-actions>
    </mat-card>

  </div>
</div>
