<!-- Footer -->
<footer class="page-footer font-small unique-color-dark">
  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">Company name</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit amet, consectetur adipisicing
          elit.
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Products</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a routerLink="/">Home Page</a>
        </p>
        <p>
          <a routerLink="/createHouse">Add Home</a>
        </p>
        <p>
          <a routerLink="#!">List</a>
        </p>
        <p>
          <a routerLink="#!">History</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon> Codegym, Mỹ Đình 2, Hà Nội, VN
        </p>
        <p>
          <mat-icon aria-hidden="false" aria-label="Example mail icon">mail</mat-icon>   thanhtuyen021292@gmail.com
        </p>
        <p>
          <mat-icon aria-hidden="false" aria-label="Example phone icon">phone</mat-icon> +84942389487
        </p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© Vô giá cư 2020
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
