<div class="container">
  <div class="row">
    <hr />
    <div class="create-post-container col-md-9">
      <form class="post-form"
      [formGroup]="createHouseForm"
        (ngSubmit)="createHouse()">
        <div class="form-group">
          <div class="create-post-heading">Create Post</div>
          <hr />
          <p>Name</p>
          <input
            type="text"
            [formControlName]="'Name'"
            class="form-control"
            style="margin-top: 5px"
            placeholder="Name"
          />
          <span class="alert alert-danger"
                  *ngIf="
                    !createHouseForm.get('Name').valid &&
                    createHouseForm.get('Name').touched
                  "
                >
                  Please provide a valid name
                </span>
          <p>Address</p>
          <input
            type="text"
            class="form-control"
            [formControlName]="'Address'"
            style="margin-top: 5px"
            placeholder="address"
          />
          <span class="alert alert-danger"
          *ngIf="
            !createHouseForm.get('Address').valid &&
            createHouseForm.get('Address').touched
          "
          >
          Please provide a valid address
          </span>
          <p>House Category</p>
          <select
            class="form-control"
            style="margin-top: 10px"
            [formControlName]="'HouseCategory'"
          >
            <option value="" selected disabled>Select house category</option>
            <option *ngFor="let category of houseCategory" value="{{category.id}}">
              {{ category.name }}
            </option>
          </select>
          <span class="alert alert-danger"
          *ngIf="
            !createHouseForm.get('HouseCategory').valid &&
            createHouseForm.get('HouseCategory').touched
          "
          >
          Please provide a valid house category
          </span>
          <p>City</p>
          <select
            class="form-control"
            style="margin-top: 10px"
            [formControlName]="'City'"
          >
            <option value="" selected disabled>Select city</option>
            <option *ngFor="let city of allCity" value="{{city.id}}">{{ city.name }}</option>
          </select>
          <span class="alert alert-danger"
          *ngIf="
            !createHouseForm.get('City').valid &&
            createHouseForm.get('City').touched
          "
          >
          Please provide a valid city
          </span>
          <p>Price</p>
          <input
            type="number"
            class="form-control"
            [formControlName]="'Price'"
            style="margin-top: 5px"
          />
          <p>Sleeping Rooms</p>
          <input
            type="number"
            class="form-control"
            [formControlName]="'SleepingRooms'"
            style="margin-top: 5px"
          />
          <p>Bathrooms</p>
          <input
            type="number"
            class="form-control"
            [formControlName]="'Bathrooms'"
            style="margin-top: 5px"
          />
          <p>Description</p>
          <editor
            [formControlName]="'Description'"
            [init]="{
              height: 500,
              menubar: true,
              plugins: [
                'advlist autolink lists link image charmap print preview anchor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table paste code help wordcount'
              ],
              toolbar:
                'undo redo | formatselect | bold italic backcolor | \
                          alignleft aligncenter alignright alignjustify | \
                          bullist numlist outdent indent | removeformat | help'
            }"
          ></editor>
          <ngx-dropzone (change)="onSelect($event)">
            <ngx-dropzone-label>Drop it, baby!</ngx-dropzone-label>
            <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
              <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
            </ngx-dropzone-preview>
          </ngx-dropzone>
          <div *ngFor="let uploadPercent of uploadPercents" class="mb-2">
            <div *ngIf="uploadPercent | async as pct">
              <app-progress-bar width="{{pct | number}}"></app-progress-bar>
              <span>{{pct | number}}</span>
            </div>
          </div>
          <span>
            <div style="margin-top: 5px" class="float-right">
              <button (click)="discardPost()" class="btnDiscard">
                Discard
              </button>
              <button class="btnCreatePost" >Post</button>
            </div>
          </span>
        </div>
      </form>
    </div>
  </div>
</div>
