<!--Section: Block Content-->
<!-- <div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-6">
        <section class="mb-5 text-center">
            <h1>Set a new password</h1>
            <form role="form" [formGroup]="updatePasswordUserForm" (ngSubmit)="changePasswordUser()">
              <div class="md-form md-outline form-group">
                <input type="password" id="oldPass" class="form-control" formControlName="oldPassword">
                <label data-error="wrong" data-success="right" for="oldPass">Old password</label>
                <span class="alert alert-danger" *ngIf="updatePasswordUserForm.controls.oldPassword.dirty &&
                updatePasswordUserForm.controls.oldPassword.errors?.minlength">
                    Vui lòng nhập nhiều hơn 6 kí tự
                </span>
                <span class="alert alert-danger" *ngIf="updatePasswordUserForm.controls.oldPassword.invalid &&
                (updatePasswordUserForm.controls.oldPassword.dirty ||
                updatePasswordUserForm.controls.oldPassword.touched) &&
                updatePasswordUserForm.controls.oldPassword.errors?.required">
                    Vui lòng nhập old password
                </span>

              </div>
              <div class="md-form md-outline">
                <input type="password" id="newPass" class="form-control" formControlName="newPassword">
                <label data-error="wrong" data-success="right" for="newPass">New password</label>
                <span class="alert alert-danger" *ngIf="updatePasswordUserForm.controls.newPassword.dirty &&
                updatePasswordUserForm.controls.newPassword.errors?.minlength">
                    Vui lòng nhập nhiều hơn 6 kí tự
                </span>
                <span class="alert alert-danger" *ngIf="updatePasswordUserForm.controls.newPassword.invalid &&
                (updatePasswordUserForm.controls.newPassword.dirty ||
                updatePasswordUserForm.controls.newPassword.touched) &&
                updatePasswordUserForm.controls.newPassword.errors?.required">
                    Vui lòng nhập new password
                </span>
              </div>
              <div class="md-form md-outline">
                <input type="password" id="newPassConfirm" class="form-control" formControlName="cfPassword">
                <label data-error="wrong" data-success="right" for="newPassConfirm">Confirm password</label>
                <span class="alert alert-danger" *ngIf="updatePasswordUserForm.controls.cfPassword.dirty &&
                updatePasswordUserForm.controls.cfPassword.errors?.minlength">
                    Vui lòng nhập nhiều hơn 6 kí tự
                </span>
                <span class="alert alert-danger" *ngIf="updatePasswordUserForm.controls.cfPassword.invalid &&
                (updatePasswordUserForm.controls.cfPassword.dirty ||
                updatePasswordUserForm.controls.cfPassword.touched) &&
                updatePasswordUserForm.controls.cfPassword.errors?.required">
                    Vui lòng nhập Confirm password
                </span>
              </div>
              <button type="submit" class="btn btn-primary mb-4" [disabled] = "updatePasswordUserForm.invalid">Change password</button>
            </form>

            <div class="d-flex justify-content-between align-items-center mb-2">
              <u><a href="#">Back</a></u>
              <u><a href="#">Register</a></u>
            </div>
          </section>
      </div>
  </div>
</div> -->

<!--Section: Block Content-->

<div class="container bootstrap snippets bootdey">
  <div class="row justify-content-center">
      <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-2">
        <form [formGroup]="updatePasswordUserForm" (ngSubmit)="changePasswordUser()">

          <div class="panel panel-info">
              <div class="panel-heading">
                  <h3 class="panel-title">
                      <span class="glyphicon glyphicon-th"></span>
                      Change password
                  </h3>
              </div>
              <div class="panel-body">
                  <div class="row">
                      <div class="col-xs-6 col-sm-6 col-md-6 separator social-login-box"> <br>
                        <span>
                          <img *ngIf="!imageRef" alt="" class="img-thumbnail" src="https://bootdey.com/img/Content/avatar/avatar1.png">
                        </span>
                        <span>
                          <img *ngIf="imageRef" alt="" class="img-thumbnail" [src]="imageRef | async" loading="lazy">
                        </span>
                      </div>
                      <div style="margin-top:80px;" class="col-xs-6 col-sm-6 col-md-6 login-box">
                       <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                            <input  class="form-control" type="password" placeholder="Current Password" formControlName="oldPassword">
                          </div>
                          <div >
                            <span class="alert alert-danger" *ngIf="updatePasswordUserForm.controls.oldPassword.dirty &&
                              updatePasswordUserForm.controls.oldPassword.errors?.minlength">
                              Vui lòng nhập nhiều hơn 6 kí tự
                            </span>
                            <span class="alert alert-danger" *ngIf="updatePasswordUserForm.controls.oldPassword.invalid &&
                              (updatePasswordUserForm.controls.oldPassword.dirty ||
                              updatePasswordUserForm.controls.oldPassword.touched) &&
                              updatePasswordUserForm.controls.oldPassword.errors?.required">
                              Vui lòng nhập old password!!!!!
                            </span>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-log-in"></span></div>
                            <input class="form-control" type="password" placeholder="New Password" formControlName="newPassword">
                          </div>
                          <div>
                            <span class="alert alert-danger" *ngIf="updatePasswordUserForm.controls.newPassword.dirty &&
                              updatePasswordUserForm.controls.newPassword.errors?.minlength">
                              Vui lòng nhập nhiều hơn 6 kí tự
                            </span>
                            <span class="alert alert-danger" *ngIf="updatePasswordUserForm.controls.newPassword.invalid &&
                              (updatePasswordUserForm.controls.newPassword.dirty ||
                              updatePasswordUserForm.controls.newPassword.touched) &&
                              updatePasswordUserForm.controls.newPassword.errors?.required">
                              Vui lòng nhập new password!!!!!
                            </span>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-log-in"></span></div>
                            <input class="form-control" type="password" placeholder="Confirm Password" formControlName="cfPassword">
                          </div>
                          <div>
                            <span class="alert alert-danger" *ngIf="updatePasswordUserForm.controls.cfPassword.dirty &&
                              updatePasswordUserForm.controls.cfPassword.errors?.minlength">
                              Vui lòng nhập nhiều hơn 6 kí tự
                            </span>
                            <span class="alert alert-danger" *ngIf="updatePasswordUserForm.controls.cfPassword.invalid &&
                              (updatePasswordUserForm.controls.cfPassword.dirty ||
                              updatePasswordUserForm.controls.cfPassword.touched) &&
                              updatePasswordUserForm.controls.cfPassword.errors?.required">
                              Vui lòng nhập confirm password!
                            </span>
                          </div>
                        </div>
                      </div>
                  </div>
              </div>
              <div class="panel-footer">
                  <div class="row">
                      <div class="col-xs-6 col-sm-6 col-md-6"></div>
                      <div class="col-xs-6 col-sm-6 col-md-6">
                        <button class="btn icon-btn-save btn-success" type="submit">
                          <span class="btn-save-label"></span>Save
                        </button>
                        <button routerLink = "" class="btn icon-btn-save btn-secondary" type="button">
                          <span class="btn-save-label"></span>Cancel
                        </button>
                      </div>
                  </div>
              </div>
          </div>
        </form>

      </div>
  </div>
</div>
